{% extends "base.html" %}

{% block body %}
<h1>Data Access</h1>

<p>
The survey is in early stages and this page may not be up to date. If you are
a survey member, please refer to the <a
href="https://desi.lbl.gov/trac/wiki/DecamLegacy">appropriate wiki pages</a> for
more information.
</p>

<h2>Early Data Release - 2014 Nov 14 (internal)</h2>

<p>
The EDR covers an approximately 35 square degree footprint (535 bricks) spanning roughly RA = [240, 245] deg, Dec = [+5, +12] deg. All these data were obtained in the DECaLS imaging run with the CTIO Dark Energy Camera in the nights 11-19 August 2014. 7076 CCD images from 160 exposures spanning 8 nights contribute to this data set, where additional data outside that footprint is not included. This footprint has 3 coverings in each of the three filters, g,r,z, to a typical 5-sigma point source depth of 24.65, 23.61, 22.84. There are 3.0 million unique sources, of which 1.2 million include identifiers to sources in the SDSS imaging catalog. A total of approximately 12,000 of these sources also have SDSS spectroscopy.
</p>
<p>
The EDR contains:
  <ul>
    <li>the pipeline processed and calibrated individual DECam images within this region</li>
    <li>associated single-epoch Source Extractor catalogs</li>
    <li>stacked 0.25x0.25 deg g, r, and z "bricks"</li>
    <li>Tractor catalogs for each brick</li>
  </ul>
</p>
<p>
Authorized users can access the <a href="http://portal.nersc.gov/project/cosmo/test/decals-edr/">data release</a> and <a href="http://portal.nersc.gov/project/cosmo/test/decals-edr/web/bricks.html">bricks page</a>. For more information, see the <a href="https://desi.lbl.gov/trac/wiki/DecamLegacy/EDR">EDR wiki page</a>.
</p>
{% endblock %}
