{% extends "base.html" %}

{% block body %}
<h1>Data Access</h1>

<p>
The survey is in early stages and this page may not be up to date. If you are
a survey member, please refer to the <a
href="https://desi.lbl.gov/trac/wiki/DecamLegacy">appropriate wiki pages</a> for
more information.
</p>
<p>
The internal Early Data Release (EDR) will be available on Friday, Nov. 14. For
more information, see the
<a href="https://desi.lbl.gov/trac/wiki/DecamLegacy/EDR">EDR wiki page</a>
and the
<a href="http://portal.nersc.gov/project/cosmo/test/decals-edr-bricks/">bricks page</a>.
</p>
{% endblock %}
